:root {
  --branding-color: #7c73e6;
  --second-color: #f7f7f7;
  --third-color: #ffe9e3;
  --forth-color: #c4c1e0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Roboto", sans-serif;
  --link-font-family: "Balsamiq Sans", cursive;
}

.container {
  font-family: var(--link-font-family);
}

.hero {
  background: var(--second-color);
  text-align: center;
  padding: 100px 20px 0px 20px;
}

.hero h1 {
  padding: 0px;
  background-color: var(--second-color);
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 24px;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  opacity: 0.7;
  line-height: 1.5;
}

body {
  margin-top: 100px;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: var(--second-color);
  font-family: "Balsamiq Sans", cursive;
}

.primary-link:hover {
  font-size: 18px;
  color: var(--branding-color);
  background: var(--forth-color);
  transition: all 150ms ease-in-out;
}

.btn-branding-outline {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: var(--second-color);
  font-family: "Balsamiq Sans", cursive;
}

.btn-branding-outline:hover {
  font-size: 18px;
  color: var(--branding-color);
  background: var(--forth-color);
  transition: all 150ms ease-in-out;
}

.homepage-link {
  color: var(--branding-color);
  text-align: center;
  display: block;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section p {
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 30px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.project-description {
  padding: 120px 60px;
  text-align: center;
  font-family: var(--default-font-family);
}

footer {
  display: block;
  text-align: center;
  margin: 30px;
}

footer .connect-social-media {
  color: var(--branding-color);
  font-weight: bold;
}

footer .social-link a {
  margin: 0 10px;
  color: var(--branding-color);
  background-color: var(--third-color);
  padding: 16px 26px;
  border-radius: 50%;
  font-size: 32px;
  transition: all 150ms ease-in-out;
}

footer .social-link a:hover {
  color: #fafafa;
  background: var(--forth-color);
  font-size: 34px;
}

small {
  font-size: 14px;
  margin: 5px auto;
  font-family: var(--link-font-family);
}

.coded-by a {
  text-decoration: none;
  color: var(--branding-color);
}

.coded-by a:hover {
  text-decoration: none;
  color: var(--forth-color);
  font-size: 16px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
    text-align: center;
  }

  .hero {
    background: var(--second-color);
    text-align: center;
    padding: 60px 20px 0px 20px;
  }

  .hero h1 {
    font-size: 48px;
    line-height: 1.2;
    padding: 12px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 16px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  footer .social-link a {
    padding: 10px 16px;
    font-size: 16px;
  }

  footer .social-link a:hover {
    font-size: 18px;
  }
}
